body {
    padding: 0 10px;
}
.ant-menu-horizontal .ant-menu-item {
    width: 20%;
    text-align: center;
}
.ant-list-vertical .ant-list-item-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
}
.read-record {
    padding: 10px 5px;
}
.read-record span {
    margin-right: 30px;
}
.ant-form {
    margin: 100px auto;
    max-width: 350px;
}
.ant-form .login-form-forgot {
    float: right;
}
.ant-form .login-form-button {
    width: 100%;
}
.add_blog_form {
    width: 500px;
    margin: 0 auto;
}
.add_blog_form label {
    display: inline-block;
    width: 50px;
}
.add_blog_form input {
    padding: 2px 3px;
}
.add_blog_form input {
    border: 1px solid #ccc;
}
.add_blog_form textarea {
    vertical-align: top;
}
.submit_btn {
    padding: 2px 30px;
    background: #40a9ff;
    border: 1px solid #ddd;
    color: #FFF;
}
.row {
    margin-top: 10px;
}
.red {
    color: red;
}
.footer {
    padding: 20px 0;
    background: #f3ecec;
    text-align: center;
}
.icon-hover:hover {
    cursor: pointer;
}
