body {
    padding: 0 10px;
}
.ant-menu-horizontal .ant-menu-item {
    width: 20%;
    text-align: center;
}
.ant-list-vertical .ant-list-item-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
}
.read-record {
    padding: 10px 5px;
}
.read-record span {
    margin-right: 30px;
}
.ant-form {
    margin: 100px auto;
    max-width: 350px;
}
.ant-form .login-form-forgot {
    float: right;
}
.ant-form .login-form-button {
    width: 100%;
}
.red {
    color: red;
}
.footer {
    padding: 20px 0;
    background: #f3ecec;
    text-align: center;
}
